<div class=edit-page>
  <h1>Editing Book</h1>
  
  <% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

 <%= form_with model: @book do |f| %>
  <p class="edit-title-area">Title</p>
  <%= f.text_field :title %>
  <p class="edit-body-area">Body</p>
  <%= f.text_area :body %>
  
  <p><%= f.submit 'Update Book', class:'edit-button' %></p>
  
  <div class=edit-link>
    <%= link_to "Show", book_path(@book.id) %>
    <span>|</span>
    <a class="edit-link" href = "/books">Back</a>
  </div>
 <% end %>
</div>