<h1 class="index-title">Books</h1>

<table class="table-area">
  <thead>
    <tr>
      <th class=table-1>Title</th>
      <th class=table-2>Body</th>
      <th class=table-3></th>
    </tr>
  </thead>
  <% @books.each do |book| %>
  <tbody>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td> <%= link_to "Show", book_path(book.id) %>
           <%= link_to "Edit", edit_book_path(book.id) %>
           <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure？" %>
           </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class=new-area>
 <h2>New book</h2>
 <%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
  <p><%= f.submit 'Create Book'%></p>
 <% end %>
</div>