<h1 class="index-title">Books</h1>

<table class="table-area">
  <thead>
    <tr>
      <th class="table-1">Title</th>
      <th class="table-2">Body</th>
      <th class="table-3"></th>
    </tr>
  </thead>
  <% @books.each do |book| %>
  <tbody>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td> <%= link_to "Show", book_path(book.id) %>
           <%= link_to "Edit", edit_book_path(book.id) %>
           <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure？" %>
           </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="new-area">
 <h2 class="new-title">New book</h2>
 
 <% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book form saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <%= form_with model: @book do |f| %>
   <p class="new-title-area">Title</p>
   <%= f.text_field :title %>
   <p class="new-body-area">Body</p>
   <%= f.text_area :body %>
   <p><%= f.submit 'Create Book', class:'new-button' %></p>
  <% end %>
</div>